<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title"><i class="fa fa-comments-o"></i> コンテキストの追加</h4>
</div>
<div class="modal-body">
    <form id="addContextForm" class="form" onsubmit="return false;">
        名前：
    <input ng-model="name" type="text" class="form-control" placeholder=""/>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">キャンセル</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">追加</button>
</div>
